* {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.02em;
  color: #190933;
}

body {
  overflow-x: hidden;
}

.quotes {
  width: 100vw;
}

.nav {
  width: 100vw;
  display: inline-block;
  text-align: center;
}

.nav a {
  text-decoration: none;
  width: calc(100% / 3);
  display: inline-block;
  float: left;
  font-size: 140%;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: background-color 0.2s;
  color: white;
  background-color: #190933;
  margin-bottom: -4px;
}

.nav a:hover {
  background-color: #6A637F;
}

.columnId,
.rowId,
.columnName,
.rowName,
.columnQuote,
.rowQuote {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Horizontal border-lines (underneath table headings) */
.columnId,
.columnName,
.columnQuote {
  border-bottom: 1px solid #190933;
}

.rowId,
.rowName,
.rowQuote {
  font-weight: lighter;
  border-bottom: 1px solid #f0e9fb;
}

/* Vertical Border-lines */
.columnId,
.rowId,
.columnName,
.rowName {
  border-right: 1px solid #190933;
}

/* Centers ID heading and numbers */
.columnId,
.rowId {
  text-align: center;
  width: 3%;
}
